.container {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 5px;
}

.title {
    margin-bottom: 20px;
}

.input__form {
    border: 1px solid rgba(72, 72, 72, .3);
    border-bottom-left-radius: 20px;
    border-right: none;
    border-top-left-radius: 20px;
    height: 30px;
    outline: none;
    padding-left: 10px;
}

.form__button {
        background-color: rgb(171, 255, 44);
        color: #fff;
        border: 1px solid rgba(72, 72, 72, .3);
        border-bottom-right-radius: 20px;
        border-left: none;
        border-top-right-radius: 20px;
        box-sizing: content-box;
        cursor: pointer;
        height: 30px;
}

.form__button:hover, 
.form__button:active {
    background-color: rgb(104, 3, 3);
}
