.container {
    background-color: rgb(231, 228, 228);
    padding: 30px;
    min-height: 600px;
}

.list {
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.warning {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}